<p id="notice"><%= notice %></p>

<h1>Listing Durations</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @listing_durations.each do |listing_duration| %>
      <tr>
        <td><%= listing_duration.name %></td>
        <td><%= link_to 'Show', listing_duration %></td>
        <td><%= link_to 'Edit', edit_listing_duration_path(listing_duration) %></td>
        <td><%= link_to 'Destroy', listing_duration, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Listing Duration', new_listing_duration_path %>
