<p id="notice"><%= notice %></p>
      <div class="row">
      <div class="col-lg-12">
        <div class="panel panel-default">
          <div class="panel-heading">Listing Durations</div>
          <div class="panel-body">
            <table data-toggle="table"  data-show-refresh="true" data-show-toggle="true" data-show-columns="true" data-search="true"  data-pagination="true" >
                <thead>
                <tr>                   
                    <th data-sortable="true">Name</th>                   
                    <th>Actions</th>
                </tr>                
                </thead>    
                <tbody>
                 <% @listing_durations.each do |listing_duration| %>
                  <tr>
                    <td><%= listing_duration.name %></td>
                    <td><%= link_to 'Show', listing_duration %>
                    <%= link_to 'Edit', edit_listing_duration_path(listing_duration) %>
                    <%= link_to 'Destroy', listing_duration, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                  </tr>
                <% end %>
                </tbody>           
            </table>
          </div>
        </div>
      </div>
    </div><!--/.row-->  

<br>

<%= link_to 'New Listing Duration', new_listing_duration_path %>
