<%= simple_form_for(@store) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :store_name %>
  </div>

  <div class="form-inputs">
    <%= f.input :county %>
  </div>

<div class="form-inputs">
    <%= f.input :street %>
  </div>

<div class="form-inputs">
    <%= f.input :country_code_type,:as => :string %>
  </div>

<div class="form-inputs">
    <%= f.input :ebay_website %>
  </div>

<div class="form-inputs">
    <%= f.input :postal_code %>
  </div>

<div class="form-inputs">
    <%= f.input :category_mapping %>
  </div>

<div class="form-inputs">
    <%= f.input :category_prefill %>
  </div>

<div class="form-inputs">
    <%= f.input :currency_code %>
  </div>

<div class="form-inputs">
    <%= f.input :item_location %>
  </div>

<div class="form-inputs">
    <%= f.input :dispatch_time %>
  </div>


<div class="form-inputs">
    <%= f.input :optimal_picturesize %>
  </div>

<div class="form-inputs">
    <%= f.input :out_of_stock_control %>
  </div>

<div class="form-inputs">
    <%= f.input :get_it_fast %>
  </div>

<div class="form-inputs">
    <%= f.input :include_prefilled %>
  </div>

<div class="form-inputs">
    <%= f.input :shipping_profile %>
  </div>    

<div class="form-inputs">
    <%= f.input :return_profile %>
  </div>    

<div class="form-inputs">
    <%= f.input :payment_profile %>
  </div>    

<div class="form-inputs">
    <%= f.input :shipping_service %>
  </div>    

<div class="form-inputs">
    <%= f.input :shippingservice_priority %>
  </div>    

<div class="form-inputs">
    <%= f.input :shippingservice_cost %>
  </div>        

<div class="form-inputs">
    <%= f.input :shippingservice_additionalcost %>
  </div>    

<div class="form-inputs">
    <%= f.association :listing_duration %>
  </div> 

<div class="form-inputs">
    <%= f.association :listing_type %>
  </div> 

<div class="form-inputs">
    <%= f.association :condition_type %>
  </div> 





  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
