<p id="notice"><%= notice %></p>

<h1>Condition Types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @condition_types.each do |condition_type| %>
      <tr>
        <td><%= condition_type.name %></td>
        <td><%= link_to 'Show', condition_type %></td>
        <td><%= link_to 'Edit', edit_condition_type_path(condition_type) %></td>
        <td><%= link_to 'Destroy', condition_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Condition Type', new_condition_type_path %>
